$orange         : #BD3613;
$blue           : #2176C7;
$facebookblue	: #3B5998;

//palette
$color1			: #373737;
$color2			: #8DB986;
$color3			: #ACCE91;
$color4			: #BADB73;
$color5			: #EFEAE4;

$nav-height		: 69px;

$font-primary: Marcellus SC, serif;
$font-secondary: Bree Serif, serif;

$default-border-radius : 10px;