<section ngAnimate="'details'" class="row">
	<div class="panel">
		<div class="row" style="text-align:center">
			<div>
				<h3 style="font-family:'Webly Sleek Bold'"><span ng-bind="dctl.curr.title"></span></h3>
				<h4 style="font-family:'Webly Sleek'">Rank: <span ng-bind="dctl.curr.rank"></span></h4>
				
			</div>
		</div>
		<div class="row">
			<a href="#/details/{{dctl.prevRank}}" title=""><i class="fa fa-arrow-circle-left fa-2x" style="float:left"></i></a>
			<a href="#/details/{{dctl.nextRank}}" title=""><i class="fa fa-arrow-circle-right fa-2x" style="float:right"></i></a>
		</div>
		<div class="row">
			<div class="large-3 columns">
				<img src="./data/images/{{ dctl.curr.imdbID }}.jpg" width="100%">
				
			</div>

			<div class="large-9 columns">
				<h4 style="font-family:'Webly Sleek'"><span ng-bind="dctl.curr.plot"></span></h4>
				<div>					
					<h5 style="font-family:'Webly Sleek'" style="display:inline">Actors: 
					<span style="font-family:'Webly Sleek'" ng-repeat="actor in dctl.curr.actors" style="display:inline">| <span ng-bind="actor"></span> |</span></h5>

				</div>
				<h5 style="font-family:'Webly Sleek'">Released: <span ng-bind="dctl.curr.released"></span></h5>
				<h5 style="font-family:'Webly Sleek'">Rated: <span ng-bind="dctl.curr.rated"></span></h5>
				<h5 style="font-family:'Webly Sleek'">Runtime: <span ng-bind="dctl.curr.runtime"></span></h5>
				<h5 style="font-family:'Webly Sleek'">Awards: <span ng-bind="dctl.curr.awards"></span></h5>

			</div>
			
		</div>

	</div>
</section>
